body {
	font: 90% "Trebuchet MS", sans-serif;
	background-color: #eeeeee;
}
#container
{
	margin: 0 30px;
}

#header
{
	background: #fff;
	padding: 0px;
}

#header h1 {
	margin: 0;
	padding: 30px 30px  0px  30px;
}
#header div#strapline {
	padding-left: 30px;
	padding-top: 10px;
	font-weight: bold;
}

#header-banner 
{ 
	text-align: center;
	background-image: url("/static/images/main/banner-bck.jpg");
}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
	font-size: 85%
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content
{
	clear: left;
	padding: 30px;
	background-color: #ffffff
}

#content h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
	background: #ccc;
	text-align: right;
	padding: 30px;
	height: 1%;
}
